@font-face{
    font-family:"exodus-demo-striped";
    src:url("../../../assets/font/ExodusDemo-Striped.otf") format("woff"),
    url("../../../assets/font/ExodusDemo-Striped.otf") format("opentype"),
    url("../../../assets/font/ExodusDemo-Striped.otf") format("truetype");
}
.sides{
    border: 2px solid aqua;
    margin-top: 12vh;
    border-radius: 10px;
    background-color: aquamarine;
    height:100%;
}
.page{
    background: linear-gradient(blue,yellow,green);
    height: 100vh;
}
.log{
    text-align: center;
    border-radius: 100%;
    height: 60px;
    width: 60px;
}
.head{
    background-color:purple;
    border-radius: 12px;

}


@media screen and (min-height:1024px)
{
    .sides{
        margin-top: 14vh;

    }
}